extends layout-base

block page

  .page-index

    //- Language Navigation
    //---------------------
    if ( languages.count > 1 )

      .page-index__languages

        .page-index__languages-content

          //- Language Selector
          //-------------------
          +language-selector(languages)


      .page-index__header

        //- Hero
        //------
        .hero

          .hero__overlay

          .hero__content

            if authors

              //- Authors
              //---------
              .hero__authors
                each author, index in info.authors
                  +author-preview(author)

            //- Category
            //----------
            if info.categories

              .hero__categories

                each category in info.categories
                  .hero__category!= category

            //- Title
            //-------
            h1.hero__title!= info.title

            //- Subtitle
            //----------
            if info.subtitle

              h2.hero__subtitle!= info.subtitle

            //- Cover
            //-------
            if info.cover

              .hero__cover
                a.hero__cover-link(href=slides[0].url)
                  img.hero__cover-image(src="images/#{presentation.cover}")

            //- Description
            //-------------
            if info.description

              .hero__description
                .hero__description-content!= info.description

            //- Actions
            //---------
            .hero__actions
              a.hero__actionButton(href=slides[0].url)= translations.startPresentation

      //- Contents
      //----------
      .page-index__table-contents

        //- Table of Contents
        //-------------------
        +table-contents(slides)